<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" label="New" icon="pi pi-plus"></button>
    <button
      pButton
      type="button"
      label="Upload"
      icon="pi pi-upload"
      class="ui-button-success"
    ></button>

    <button
      *ngIf="showDelete"
      pButton
      type="button"
      label="Delete"
      icon="pi pi-times"
      class="bg-red-500"
      (click)="deleteTasks()"
    ></button>
  </div>
</p-toolbar>

<p-table
  *ngIf="tasks$ | async as tasks"
  #dt
  [value]="tasks"
  [(selection)]="selectedTasks"
  dataKey="_id"
  styleClass="ui-table-notes"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="Showing &#123;first&#125; to &#123;last&#125; of &#123;totalRecords&#125; entries"
  [filterDelay]="0"
  [globalFilterFields]="['title', 'description']"
>
  <ng-template pTemplate="caption"> List of Tasks </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="task">Title <p-sortIcon field="task"></p-sortIcon></th>
      <th pSortableColumn="description">
        Description <p-sortIcon field="description"></p-sortIcon>
      </th>
      <th pSortableColumn="dueDate">Due Date <p-sortIcon field="dueDate"></p-sortIcon></th>
      <th pSortableColumn="status">Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
    <tr class="ui-selectable-row">
      <td>
        <p-tableCheckbox [value]="task"></p-tableCheckbox>
      </td>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.dueDate | date : 'medium' }}</td>
      <td>
        <i
          class="pi"
          [class.pi-check-circle]="task.status === 'done'"
          [class.pi-clock]="task.status === 'open'"
          [class.pi-lock]="task.status === 'close'"
        ></i>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8" style="text-align: left">No tasks found.</td>
    </tr>
  </ng-template>
</p-table>
