<p-toolbar>
  <div class="ui-toolbar-group-left"></div>
  <div class="ui-toolbar-group-right">
    <button
      pButton
      type="button"
      icon="pi pi-times"
      class="ui-button-danger"
      (click)="closeToolbar()"
    ></button>
  </div>
</p-toolbar>

<form [formGroup]="createEventFormGroup">
  <div class="card">
    <h5>Create Note</h5>
    <div class="field">
      <label for="title">Title</label>
      <input
        type="text"
        formControlName="title"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>
    <div class="field">
      <label for="description">Description</label>
      <textarea
        type="text"
        rows="4"
        formControlName="description"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      ></textarea>
    </div>
  </div>
  <button
    pButton
    type="button"
    [disabled]="!createEventFormGroup.valid"
    label="Submit"
    (click)="submit()"
  ></button>
</form>
